<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <style>
            html,
            body {
                position: relative;
            }
            .row {
                display: flex;
            }
            .col {
                flex: 1;
            }
            .panel {
                border: 1px solid #ccc;
                margin-bottom: 20px;
                padding: 10px;
            }
        </style>
        <script src="./vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>
                Flutter WebView Javascript Channel
                <small>v 1.0.1</small>
            </h1>
            <div class="row">
                <div class="col">
                    <div v-if="!hasFApp">
                        No FApp Object
                    </div>
                    <div v-else>
                        <div class="panel">
                            <h3>返回請求</h3>
                            <button @click="onBack">Back</button>
                        </div>
                        <div class="panel">
                            <h3>隨機數產生請求</h3>
                            <input type="number" min="10" v-model="rand.max" />
                            <button @click="onCallRandom">Call Random</button>
                            <p>
                                <label>
                                    GET Random Value = {{ rand.value }}</label
                                >
                            </p>
                        </div>
                    </div>
                    <button @click="onReload">頁面重載</button>
                </div>
                <div class="col">
                    <div class="panel">
                        <h4>Vue Lifecycle</h4>
                        <p v-for="(msg, i) in logs" :key="i">
                            {{ msg }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            new Vue({
                data: {
                    logs: [],
                    rand: {
                        max: 100,
                        value: 0
                    }
                },
                computed: {
                    currentUrl() {
                        return location.href;
                    },
                    hasFApp() {
                        return window.FApp ? true : false;
                    }
                },
                created() {
                    this.logs.push("lifecycle - created");
                },
                mounted() {
                    this.logs.push("lifecycle - mounted");
                    window.onFApp = (name, data) => {
                        alert(name);
                        switch (name) {
                            case "rand":
                                this.rand.value = data.value;
                                break;
                        }
                    };
                },
                methods: {
                    emitFApp(name, data) {
                        if (!window.FApp) {
                            return;
                        }

                        window.FApp.postMessage(
                            JSON.stringify({
                                name,
                                data: data || null
                            })
                        );
                    },
                    onReload() {
                        window.location.reload();
                    },
                    onBack() {
                        this.emitFApp("back");
                    },
                    onCallRandom() {
                        this.emitFApp("rand", { max: this.rand.max });
                    }
                }
            }).$mount("#app");
        </script>
    </body>
</html>
